<%= form_for @banner, :url => path, :html => {:class => 'form-horizontal spud_banner_form', :target => 'spud_banners_upload_target'} do |f| %>

  <%= error_messages_for(f.object) %>

  <fieldset>
    <div class="form-group">
      <%= f.label :link_to, 'Link to', :class => 'control-label col-sm-4' %>
      <div class="col-sm-8">
        <%= f.text_field :link_to, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :link_target, 'Open Link in', :class => 'control-label col-sm-4' %>
      <div class="col-sm-8">
        <%= f.select :link_target, options_for_select([
          ['Same Window', '_self'],
          ['New Window', '_blank']
        ], @banner.link_target),{},{:class => "form-control"} %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :title, 'Image Title', :class => 'control-label col-sm-4' %>
      <div class="col-sm-8">
        <%= f.text_field :title, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :alt, 'Alt Text', :class => 'control-label col-sm-4' %>
      <div class="col-sm-8">
        <%= f.text_field :alt, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :banner, 'Banner', :class => 'control-label col-sm-4' %>
      <div class="col-sm-8">
        <%= f.file_field :banner, :class => "form-control" %>
      </div>
    </div>
  </fieldset>

  <div class="progress progress-striped active spud_banner_upload_progress">
    <div class="bar"></div>
  </div>

<% end %>

<iframe id="spud_banners_upload_target" name="spud_banners_upload_target" style="display:none;"></iframe>